<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TrekkersPoint</a>
        </div>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="/">LogIn</a> </li>
            <li> <a href="/">Register</a> </li>
            <li> <a href="/">LogOut</a> </li>
          </ul>
        </div>
      </div>
    </nav>
